/* #d6d2d0 */
/* #f0efee */

.container {
    border-radius: 4px;
    background-color: #f2f2f2;
    margin: 2px;
    padding: 10px;
}

html,body{
	height:100%;
	background-color: #f0efee;
}

td {
    background-color: 1px solid #f0efee;
}

#loginput {
    width: 100%;
    height:100%;
}

#wrapper {
    border-radius: 4px;
    background-color: #d6d2d0;
    width: 99%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
#header {
    min-height: 120px;
    width: 98%;
}
#main {
    min-height: 120px;
    width: 98%;
    overflow: hidden;
}
#footer {
    height: 4%;
}
